<html>

<head>
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='134691432-1',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/boostrap.min.css">
	<link rel="stylesheet" href="css/override.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!--   <link rel="stylesheet" href="/resources/demos/style.css"> -->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#accordion" ).accordion({
      collapsible: true, active: 'none'
    });
  } );
  </script>
  	{{#if showAlternate}}
	<script>
	$(document).ready(function(){


	    $("#editBills").click(function(){
	        $("#editBillsForm").show();
	    });

	    $("#editUtilities").click(function(){
	        $("#editUtilitiesForm").show();
	    });

	    $("#editTravel").click(function(){
	        $("#editTravelForm").show();
	    });

	    $("#editEducation").click(function(){
	        $("#editEducationForm").show();
	    });
	});

	 $( function() {
    $( "#addPurchaseDialog" ).dialog({
      autoOpen: false,
      show: {effect: "scale", duration: 1000},
      hide: {effect: "explode", duration: 1000}
    });

    $( "#addPurchase" ).on( "click", function() {
      $( "#addPurchaseDialog" ).dialog( "open" );
    });
  } );

	 $( function() {
    $( "#editFoodDialog" ).dialog({
      autoOpen: false,
      show: {effect: "scale", duration: 1000},
      hide: {effect: "explode", duration: 1000}
    });

    $( "#editFood" ).on( "click", function() {
      $( "#editFoodDialog" ).dialog( "open" );
    });
  } );

	  $( function() {
    $( "#editBillsDialog" ).dialog({
      autoOpen: false,
      show: {effect: "scale", duration: 1000},
      hide: {effect: "explode", duration: 1000}
    });

    $( "#editBills" ).on( "click", function() {
      $( "#editBillsDialog" ).dialog( "open" );
    });
  } );

	    $( function() {
    $( "#editUtilitiesDialog" ).dialog({
      autoOpen: false,
      show: {effect: "scale", duration: 1000},
      hide: {effect: "explode", duration: 1000}
    });

    $( "#editUtilities" ).on( "click", function() {
      $( "#editUtilitiesDialog" ).dialog( "open" );
    });
  } );

	       $( function() {
    $( "#editEducationDialog" ).dialog({
      autoOpen: false,
      show: {effect: "scale", duration: 1000},
      hide: {effect: "explode", duration: 1000}
    });

    $( "#editEducation" ).on( "click", function() {
      $( "#editEducationDialog" ).dialog( "open" );
    });
  } );

	      $( function() {
    $( "#editTravelDialog" ).dialog({
      autoOpen: false,
      show: {effect: "scale", duration: 1000},
      hide: {effect: "explode", duration: 1000}
    });

    $( "#editTravel" ).on( "click", function() {
      $( "#editTravelDialog" ).dialog( "open" );
    });
  } );



	</script>

	<title>Budge-It!</title>
</head>

<body>

	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<img src="img/logo.png" height="30px"/>
		</div>
	</nav>



	<!-- So page doesnt begin behind the navbar -->
	<div class="generalpadding"></div>



	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-body">

						<div id="addPurchaseDialog" title="Add Purchase Transaction">
						  <form class="form-inline" id="addExpenseForm" role="form" method="get" action="/add">
							  <div class="form-group">
							  	<input type="text" class="form-control" id="name" placeholder="Name" name="name">
							  </div>
							  <div class="form-group">
							    <input type="number" step=".01" class="form-control" id="price" placeholder="Price" name="price">
							  </div>

							  <select type="text" id="category" name="category" class="form-control">
								  <option>food</option>
								  <option>utilities</option>
								  <option>travel</option>
								  <option>education</option>
								  <option>bills</option>
							  </select>
							  <button type="submit" class="btn btn-success btn-lg btn-block">Add</button>
							</form>
						</div>

						<h3 class="center-text">Expenses</h3><br>

						<button class="btn btn-success btn-lg btn-block" id="addPurchase">Add Purchase</button>

						<div id="accordion">
						  <div>
						  	<div class="badge badge-expense" id="food">Food</div>
						  	<div class="glyphicon glyphicon-pencil" id="editFood" style="float:right;"></div>
							<div class="badge badge-expense" id="food" style="float:right;">Budgeted ${{budgets.food}}</div>
							<div class="badge badge-expense" id="food" style="float:right;">Spent ${{totals.food}}</div>
						  </div>
						  <div>
							<ol reversed class="list-group" id="foodList">
								<li class="list-group-item">

									&nbsp; <div style="float:left; padding-right: 67px;"><strong>Date</strong></div>
										   <div style="float:left;"><strong>Description</strong></div>
										   <div style="float:right;"><strong>Cost</strong></div>

								</li>
							{{#each food}}
							<li class="list-group-item">

								&nbsp; <div style="float:left; padding-right: 25px;">{{date}}</div>
									   <div style="float:left;">{{name}}</div>
									   <div style="float:right;">${{price}}</div>

							</li>
							{{/each}}
							</ol>

							<div id="editFoodDialog" title="Edit Food Budget">
							<form class="form-inline" id="editFoodForm" role="form" method="get" action="/updateBudget">
									<div class="form-group">
										<input type="number" step=".01" class="form-control" id="budget" placeholder="Food Budget" name="budget">
										<input style="display:none" type="text" id="category" name="category" class="form-control" value="food">
										<button type="submit" class="btn btn-success btn-block">Save</button>
									</div>
								</form>
								</div>
							</li>
						  </div>
						 <div>
						  	<div class="badge badge-expense" id="bills">Bills</div>
						  	<div class="glyphicon glyphicon-pencil" id="editBills" style="float:right;"></div>
							<div class="badge badge-expense" id="bills" style="float:right;">Budgeted ${{budgets.bills}}</div>
							<div class="badge badge-expense" id="bills" style="float:right;">Spent ${{totals.bills}}</div>
						  </div>
						  <div>
							<ol reversed class="list-group" id="billsList">
								<li class="list-group-item">
									&nbsp; <div style="float:left; padding-right: 67px;"><strong>Date</strong></div>
										   <div style="float:left;"><strong>Description</strong></div>
										   <div style="float:right;"><strong>Cost</strong></div>

								</li>
							{{#each bills}}
							<li class="list-group-item">
								&nbsp; <div style="float:left; padding-right: 25px;">{{date}}</div>
									   <div style="float:left;">{{name}}</div>
									   <div style="float:right;">${{price}}</div>

							</li>
							{{/each}}
							</ol>
							<div id="editBillsDialog" title="Edit Bills Budget">
							<form class="form-inline" id="editBillsForm" role="form" method="get" action="/updateBudget">
									<div class="form-group">
										<input type="number" step=".01" class="form-control" id="budget" placeholder="Bills Budget" name="budget">
										<input style="display:none" type="text" id="category" name="category" class="form-control" value="bills">
										<button type="submit" class="btn btn-success btn-block">Save</button>
									</div>
								</form>
								</div>
							</li>
						  </div>
						  <div>
						  	<div class="badge badge-expense" id="utilities">Utilities</div>
						  	<div class="glyphicon glyphicon-pencil" id="editUtilities" style="float:right;"></div>
							<div class="badge badge-expense" id="utilities" style="float:right;">Budgeted ${{budgets.utilities}}</div>
							<div class="badge badge-expense" id="utilities" style="float:right;">Spent ${{totals.utilities}}</div>
						  </div>
						  <div>
							<ol reversed class="list-group" id="utilitiesList">
								<li class="list-group-item">
									&nbsp; <div style="float:left; padding-right: 67px;"><strong>Date</strong></div>
										   <div style="float:left;"><strong>Description</strong></div>
										   <div style="float:right;"><strong>Cost</strong></div>

								</li>
							{{#each utilities}}
							<li class="list-group-item">
								&nbsp; <div style="float:left; padding-right: 25px;">{{date}}</div>
									   <div style="float:left;">{{name}}</div>
									   <div style="float:right;">${{price}}</div>

							</li>
							{{/each}}
							</ol>

							<div id="editUtilitiesDialog" title="Edit Utilities Budget">
							<form class="form-inline" id="editUtilitiesForm" role="form" method="get" action="/updateBudget">
									<div class="form-group">
										<input type="number" step=".01" class="form-control" id="budget" placeholder="Utilities Budget" name="budget">
										<input style="display:none" type="text" id="category" name="category" class="form-control" value="utilities">
										<button type="submit" class="btn btn-success btn-block">Save</button>
									</div>
								</form>
								</div>
							</li>
						  </div>

						 <div>
						  	<div class="badge badge-expense" id="travel">Travel</div>
						  	<div class="glyphicon glyphicon-pencil" id="editTravel" style="float:right;"></div>
							<div class="badge badge-expense" id="travel" style="float:right;">Budgeted ${{budgets.travel}}</div>
							<div class="badge badge-expense" id="travel" style="float:right;">Spent ${{totals.travel}}</div>
						  </div>
						  <div>
							<ol reversed class="list-group" id="travelList">
								<li class="list-group-item">
									&nbsp; <div style="float:left; padding-right: 67px;"><strong>Date</strong></div>
										   <div style="float:left;"><strong>Description</strong></div>
										   <div style="float:right;"><strong>Cost</strong></div>

								</li>
							{{#each travel}}
							<li class="list-group-item">
								&nbsp; <div style="float:left; padding-right: 25px;">{{date}}</div>
									   <div style="float:left;">{{name}}</div>
									   <div style="float:right;">${{price}}</div>

							</li>
							{{/each}}
							</ol>

							<div id="editTravelDialog" title="Edit Travel Budget">
							<form class="form-inline" id="editTravelForm" role="form" method="get" action="/updateBudget">
									<div class="form-group">
										<input type="number" step=".01" class="form-control" id="budget" placeholder="Travel Budget" name="budget">
										<input style="display:none" type="text" id="category" name="category" class="form-control" value="travel">
										<button type="submit" class="btn btn-success btn-block">Save</button>
									</div>
								</form>
								</div>
							</li>
						  </div>

						  <div>
						  	<div class="badge badge-expense" id="education">Education</div>
						  	<div class="glyphicon glyphicon-pencil" id="editEducation" style="float:right;"></div>
							<div class="badge badge-expense" id="education" style="float:right;">Budgeted ${{budgets.education}}</div>
							<div class="badge badge-expense" id="education" style="float:right;;">Spent ${{totals.education}}</div>
						  </div>
						  <div>
						  	<ol reversed class="list-group" id="educationList">
								<li class="list-group-item">
									&nbsp; <div style="float:left; padding-right: 67px;"><strong>Date</strong></div>
										   <div style="float:left;"><strong>Description</strong></div>
										   <div style="float:right;"><strong>Cost</strong></div>

								</li>
								{{#each education}}
								<li class="list-group-item">
									&nbsp; <div style="float:left; padding-right: 25px;">{{date}}</div>
										   <div style="float:left;">{{name}}</div>
										   <div style="float:right;">${{price}}</div>

								</li>
								{{/each}}
							  </ol>
							<div id="editEducationDialog" title="Edit Education Budget">
								<form class="form-inline" id="editEducationForm" role="form" method="get" action="/updateBudget">
										<div class="form-group">
											<input type="number" step=".01" class="form-control" id="budget" placeholder="Education Budget" name="budget">
											<input style="display:none" type="text" id="category" name="category" class="form-control" value="education">
											<button type="submit" class="btn btn-success btn-block">Save</button>
										</div>
									</form>
							 </div>

						  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{{else}}

<script>
	$(document).ready(function(){
	    $("#editFood").click(function(){
	        $("#editFoodForm").show();
	    });

	    $("#editBills").click(function(){
	        $("#editBillsForm").show();
	    });

	    $("#editUtilities").click(function(){
	        $("#editUtilitiesForm").show();
	    });

	    $("#editTravel").click(function(){
	        $("#editTravelForm").show();
	    });

	    $("#editLuxury").click(function(){
	        $("#editLuxuryForm").show();
	    });
	});
	</script>

	<title>Budge-It!</title>
</head>
<body>

	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Budge-It!</a>
		</div>
	</nav>



	<!-- So page doesnt begin behind the navbar -->
	<div class="generalpadding"></div>

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3 class="center-text">Expenses</h3><br>

						<form class="form-inline" id="addExpenseForm" role="form" method="get" action="/add">
						  <div class="form-group">
						  	<input type="text" class="form-control" id="name" placeholder="Name" name="name">
						  </div>
						  <div class="form-group">
						    <input type="number" step=".01" class="form-control" id="price" placeholder="Price" name="price">
						  </div>

						  <select type="text" id="category" name="category" class="form-control">
							  <option>food</option>
							  <option>utilities</option>
							  <option>travel</option>
							  <option>luxury</option>
							  <option>bills</option>
						  </select>
						  <button type="submit" class="btn btn-success btn-lg btn-block" id="addExpense">Add Expense</button>
						</form>

						<ul class="list-group">
							<li class="list-group-item active-title">
								<b>Food</b>
								<span class="glyphicon glyphicon-pencil" id="editFood" style="float:right;"></span>
								<span class="badge badge-expense" id="food">${{totals.food}}/${{budgets.food}}</span>

								<form style="display:none" class="form-inline" id="editFoodForm" role="form" method="get" action="/updateBudget">
									<div class="form-group">
										<input style="width:140px" type="number" step=".01" class="form-control" id="budget" placeholder="Food Budget" name="budget">
										<input style="display:none" type="text" id="category" name="category" class="form-control" value="food">
										<button style="width:140px" type="submit" class="btn btn-success btn-block">Save</button>
									</div>
								</form>
							</li>
							{{#each food}}
							<li class="list-group-item">
								&nbsp; {{name}} ${{price}}
							</li>
							{{/each}}

							<li class="list-group-item active-title">
								<b>Bills</b>
								<span class="glyphicon glyphicon-pencil" id="editBills" style="float:right;"></span>
								<span class="badge badge-expense" id="bills">${{totals.bills}}/${{budgets.bills}}</span>

								<form style="display:none" class="form-inline" id="editBillsForm" role="form" method="get" action="/updateBudget">
									<div class="form-group">
										<input style="width:140px" type="number" step=".01" class="form-control" id="budget" placeholder="Bills Budget" name="budget">
										<input style="display:none" type="text" id="category" name="category" class="form-control" value="bills">
										<button style="width:140px" type="submit" class="btn btn-success btn-block">Save</button>
									</div>
								</form>
							</li>
							{{#each bills}}
							<li class="list-group-item">
								&nbsp; {{name}} ${{price}}
							</li>
							{{/each}}

							<li class="list-group-item active-title">
								<b>Utilities</b>
								<span class="glyphicon glyphicon-pencil" id="editUtilities" style="float:right;"></span>
								<span class="badge badge-expense" id="utilities">${{totals.utilities}}/${{budgets.utilities}}</span>

								<form style="display:none" class="form-inline" id="editUtilitiesForm" role="form" method="get" action="/updateBudget">
									<div class="form-group">
										<input style="width:140px" type="number" step=".01" class="form-control" id="budget" placeholder="Utilities Budget" name="budget">
										<input style="display:none" type="text" id="category" name="category" class="form-control" value="utilities">
										<button style="width:140px" type="submit" class="btn btn-success btn-block">Save</button>
									</div>
								</form>
							</li>
							{{#each utilities}}
							<li class="list-group-item">
								&nbsp; {{name}} ${{price}}
							</li>
							{{/each}}

							<li class="list-group-item active-title">
								<b>Travel</b>
								<span class="glyphicon glyphicon-pencil" id="editTravel" style="float:right;"></span>
								<span class="badge badge-expense" id="travel">${{totals.travel}}/${{budgets.travel}}</span>

								<form style="display:none" class="form-inline" id="editTravelForm" role="form" method="get" action="/updateBudget">
									<div class="form-group">
										<input style="width:140px" type="number" step=".01" class="form-control" id="budget" placeholder="Travel Budget" name="budget">
										<input style="display:none" type="text" id="category" name="category" class="form-control" value="travel">
										<button style="width:140px" type="submit" class="btn btn-success btn-block">Save</button>
									</div>
								</form>
							</li>
							{{#each travel}}
							<li class="list-group-item">
								&nbsp; {{name}} ${{price}}
							</li>
							{{/each}}

							<li class="list-group-item active-title">
								<b>Luxury</b>
								<span class="glyphicon glyphicon-pencil" id="editLuxury" style="float:right;"></span>
								<span class="badge badge-expense" id="luxury">${{totals.luxury}}/${{budgets.luxury}}</span>

								<form style="display:none" class="form-inline" id="editLuxuryForm" role="form" method="get" action="/updateBudget">
									<div class="form-group">
										<input style="width:140px" type="number" step=".01" class="form-control" id="budget" placeholder="Luxury Budget" name="budget">
										<input style="display:none" type="text" id="category" name="category" class="form-control" value="luxury">
										<button style="width:140px" type="submit" class="btn btn-success btn-block">Save</button>
									</div>
								</form>
							</li>
							{{#each luxury}}
							<li class="list-group-item">
								&nbsp; {{name}} ${{price}}
							</li>
							{{/each}}

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{/if}}

	<!-- So page doesn't cut off before the footer menu -->
	<div class="generalpadding"></div>

	<!-- Footer menu -->
	<div class="col-xs-12 fullwidth bottom">
		<div class="btn-group btn-group-justified">
			<a href="overview" class="btn btn-default">
				<span class="glyphicon glyphicon-th-list"></span><br>
				Overview
			</a>
			<a href="expenses" class="btn btn-default active">
				<span class="glyphicon glyphicon-usd"></span><br>
				Expenses
			</a>

			<a href="wishlist" class="btn btn-default">
				<span class="glyphicon glyphicon-star"></span><br>
				Wishlist
			</a>
		</div>
	</div>

<!-- <script src="/public/js/totals.js"></script> -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-88055949-1', 'auto');
  ga('send', 'pageview');

</script>
<script>
if(document.getElementById("addPurchase") != null) {
	document.getElementById("addPurchase").addEventListener("click", myFunction);
}

function myFunction() {
	console.log("new is working");
    ga('send', 'event', 'add', 'click');
}
</script>
<script>
if(document.getElementById("addExpense") != null) {
document.getElementById("addExpense").addEventListener("click", myFunctions);
}

function myFunctions() {
	console.log("old is working");
    ga('send', 'event', 'add', 'click');
}
</script>
</body>
</html>
