<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/boostrap.min.css">
	<link rel="stylesheet" href="css/override.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $("#editFood").click(function(){
	        $("#editFoodForm").show();
	    });

	    $("#editBills").click(function(){
	        $("#editBillsForm").show();
	    });

	    $("#editUtilities").click(function(){
	        $("#editUtilitiesForm").show();
	    });

	    $("#editTravel").click(function(){
	        $("#editTravelForm").show();
	    });

	    $("#editLuxury").click(function(){
	        $("#editLuxuryForm").show();
	    });
	});
	</script>

	<title>Budge-It!</title>
</head>
<body>

	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Budge-It!</a>
			<span style="color:white; float:right; font-weight:bold;">Points: {{points.total}}</span>
		</div>
	</nav>



	<!-- So page doesnt begin behind the navbar -->
	<div class="generalpadding"></div>

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3 class="center-text">Expenses</h3><br>

						<form class="form-inline" id="addExpenseForm" role="form" method="get" action="/add">
						  <div class="form-group">
						  	<input type="text" class="form-control" id="name" placeholder="Name" name="name">
						  </div>
						  <div class="form-group">
						    <input type="number" step=".01" class="form-control" id="price" placeholder="Price" name="price">
						  </div>

						  <select type="text" id="category" name="category" class="form-control">
							  <option>food</option>
							  <option>utilities</option>
							  <option>travel</option>
							  <option>luxury</option>
							  <option>bills</option>
						  </select>
						  <button type="submit" class="btn btn-success btn-lg btn-block">Add Expense</button>
						</form>
						
						<ul class="list-group">
							<li class="list-group-item active-title">
								<b>Food</b>
								<span class="glyphicon glyphicon-pencil" id="editFood" style="float:right;"></span>
								<span class="badge badge-expense" id="food">${{totals.food}}/${{budgets.food}}</span>

								<form style="display:none" class="form-inline" id="editFoodForm" role="form" method="get" action="/updateBudget">
									<div class="form-group">
										<input style="width:140px" type="number" step=".01" class="form-control" id="budget" placeholder="Food Budget" name="budget">
										<input style="display:none" type="text" id="category" name="category" class="form-control" value="food">
										<button style="width:140px" type="submit" class="btn btn-success btn-block">Save</button>
									</div>
								</form>
							</li>
							{{#each food}}
							<li class="list-group-item">
								&nbsp; {{name}} ${{price}} 
							</li>
							{{/each}}
							
							<li class="list-group-item active-title">
								<b>Bills</b>
								<span class="glyphicon glyphicon-pencil" id="editBills" style="float:right;"></span>
								<span class="badge badge-expense" id="bills">${{totals.bills}}/${{budgets.bills}}</span>

								<form style="display:none" class="form-inline" id="editBillsForm" role="form" method="get" action="/updateBudget">
									<div class="form-group">
										<input style="width:140px" type="number" step=".01" class="form-control" id="budget" placeholder="Bills Budget" name="budget">
										<input style="display:none" type="text" id="category" name="category" class="form-control" value="bills">
										<button style="width:140px" type="submit" class="btn btn-success btn-block">Save</button>
									</div>
								</form>
							</li>
							{{#each bills}}
							<li class="list-group-item">
								&nbsp; {{name}} ${{price}} 
							</li>
							{{/each}}

							<li class="list-group-item active-title">
								<b>Utilities</b>
								<span class="glyphicon glyphicon-pencil" id="editUtilities" style="float:right;"></span>
								<span class="badge badge-expense" id="utilities">${{totals.utilities}}/${{budgets.utilities}}</span>

								<form style="display:none" class="form-inline" id="editUtilitiesForm" role="form" method="get" action="/updateBudget">
									<div class="form-group">
										<input style="width:140px" type="number" step=".01" class="form-control" id="budget" placeholder="Utilities Budget" name="budget">
										<input style="display:none" type="text" id="category" name="category" class="form-control" value="utilities">
										<button style="width:140px" type="submit" class="btn btn-success btn-block">Save</button>
									</div>
								</form>
							</li>
							{{#each utilities}}
							<li class="list-group-item">
								&nbsp; {{name}} ${{price}} 
							</li>
							{{/each}}

							<li class="list-group-item active-title">
								<b>Travel</b>
								<span class="glyphicon glyphicon-pencil" id="editTravel" style="float:right;"></span>
								<span class="badge badge-expense" id="travel">${{totals.travel}}/${{budgets.travel}}</span>

								<form style="display:none" class="form-inline" id="editTravelForm" role="form" method="get" action="/updateBudget">
									<div class="form-group">
										<input style="width:140px" type="number" step=".01" class="form-control" id="budget" placeholder="Travel Budget" name="budget">
										<input style="display:none" type="text" id="category" name="category" class="form-control" value="travel">
										<button style="width:140px" type="submit" class="btn btn-success btn-block">Save</button>
									</div>
								</form>
							</li>
							{{#each travel}}
							<li class="list-group-item">
								&nbsp; {{name}} ${{price}} 
							</li>
							{{/each}}
							
							<li class="list-group-item active-title">
								<b>Luxury</b>
								<span class="glyphicon glyphicon-pencil" id="editLuxury" style="float:right;"></span>
								<span class="badge badge-expense" id="luxury">${{totals.luxury}}/${{budgets.luxury}}</span>

								<form style="display:none" class="form-inline" id="editLuxuryForm" role="form" method="get" action="/updateBudget">
									<div class="form-group">
										<input style="width:140px" type="number" step=".01" class="form-control" id="budget" placeholder="Luxury Budget" name="budget">
										<input style="display:none" type="text" id="category" name="category" class="form-control" value="luxury">
										<button style="width:140px" type="submit" class="btn btn-success btn-block">Save</button>
									</div>
								</form>
							</li>
							{{#each luxury}}
							<li class="list-group-item">
								&nbsp; {{name}} ${{price}} 
							</li>
							{{/each}}

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- So page doesn't cut off before the footer menu -->
	<div class="generalpadding"></div>

	<!-- Footer menu -->
	<div class="col-xs-12 fullwidth bottom">
		<div class="btn-group btn-group-justified">
			<a href="overview" class="btn btn-default">
				<span class="glyphicon glyphicon-th-list"></span><br>
				Overview
			</a>
			<a href="expenses" class="btn btn-default active">
				<span class="glyphicon glyphicon-usd"></span><br>
				Expenses
			</a>
			
			<a href="wishlist" class="btn btn-default">
				<span class="glyphicon glyphicon-star"></span><br>
				Wishlist
			</a>
		</div>
	</div>

<script>src="/public/js/totals.js"</script>
</body>
</html>