<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/boostrap.min.css">
	<link rel="stylesheet" href="css/override.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#accordion" ).accordion({
      collapsible: true, active: 'none'
    });
  } );
  </script>
	<script>
	$(document).ready(function(){
	    $("#editFood").click(function(){
	        $("#editFoodForm").show();
	        $("#foodList").hide();
	    });

	    $("#editBills").click(function(){
	        $("#editBillsForm").show();
	    });

	    $("#editUtilities").click(function(){
	        $("#editUtilitiesForm").show();
	    });

	    $("#editTravel").click(function(){
	        $("#editTravelForm").show();
	    });

	    $("#editEducation").click(function(){
	        $("#editEducationForm").show();
	    });
	});

	 $( function() {
    $( "#dialog" ).dialog({
      autoOpen: false,
      show: {
        effect: "blind",
        duration: 1000
      },
      hide: {
        effect: "explode",
        duration: 1000
      }
    });
 
    $( "#opener" ).on( "click", function() {
      $( "#dialog" ).dialog( "open" );
    });
  } );
	</script>

	<title>Budge-It!</title>
</head>
<body>

	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Budge-It!</a>
		</div>
	</nav>



	<!-- So page doesnt begin behind the navbar -->
	<div class="generalpadding"></div>

	

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-body">

						<div id="dialog" title="Add Purchase Transaction">
						  <form class="form-inline" id="addExpenseForm" role="form" method="get" action="/add">
							  <div class="form-group">
							  	<input type="text" class="form-control" id="name" placeholder="Name" name="name">
							  </div>
							  <div class="form-group">
							    <input type="number" step=".01" class="form-control" id="price" placeholder="Price" name="price">
							  </div>

							  <select type="text" id="category" name="category" class="form-control">
								  <option>food</option>
								  <option>utilities</option>
								  <option>travel</option>
								  <option>education</option>
								  <option>bills</option>
							  </select>
							  <button type="submit" class="btn btn-success btn-lg btn-block">Add</button>
							</form>
						</div>
 
						<h3 class="center-text">Expenses</h3><br>

						<button class="btn btn-success btn-lg btn-block" id="opener">Add Purchase</button>

						<div id="accordion">
						  <div>
						  	<div class="badge badge-expense" id="food">Food</div>
						  	<div class="glyphicon glyphicon-pencil" id="editFood" style="float:right;"></div>
							<div class="badge badge-expense" id="food" style="float:right; width:25%;">Budgeted ${{budgets.food}}</div>
							<div class="badge badge-expense" id="food" style="float:right; width:25%;">Spent ${{totals.food}}</div>
						  </div>
						  <div>
							<ol reversed class="list-group" id="foodList">
								<li class="list-group-item">
									&nbsp; <div style="float:left; width:25%">Date</div>
										   <div style="float:left; width:25%">Description</div> 
										   <div style="float:left; width:25%">Cost</div>
										   <div style="float:right; width:20%">Remaining</div> 
								</li>
							{{#each food}}
							<li class="list-group-item">
								&nbsp; <div style="float:left; width:25%">{{date}}</div>
									   <div style="float:left; width:25%">{{name}}</div> 
									   <div style="float:left; width:25%">${{price}}</div>
									   <div style="float:right; width:20%">Remaining</div> 
							</li>
							{{/each}}
							</ol>

							<form style="display:none" class="form-inline" id="editFoodForm" role="form" method="get" action="/updateBudget">
									<div class="form-group">
										<input style="width:140px" type="number" step=".01" class="form-control" id="budget" placeholder="Food Budget" name="budget">
										<input style="display:none" type="text" id="category" name="category" class="form-control" value="food">
										<button style="width:140px" type="submit" class="btn btn-success btn-block">Save</button>
									</div>
								</form>
							</li>
						  </div>
						 <div>
						  	<div class="badge badge-expense" id="bills">Bills</div>
						  	<div class="glyphicon glyphicon-pencil" id="editBills" style="float:right;"></div>
							<div class="badge badge-expense" id="bills" style="float:right; width:25%;">Budgeted ${{budgets.bills}}</div>
							<div class="badge badge-expense" id="bills" style="float:right; width:25%;">Spent ${{totals.bills}}</div>
						  </div>
						  <div>
							<ol reversed class="list-group" id="billsList">
								<li class="list-group-item">
									&nbsp; <div style="float:left; width:25%">Date</div>
										   <div style="float:left; width:25%">Description</div> 
										   <div style="float:left; width:25%">Cost</div>
										   <div style="float:right; width:20%">Remaining</div> 
								</li>
							{{#each bills}}
							<li class="list-group-item">
								&nbsp; <div style="float:left; width:25%">{{date}}</div>
									   <div style="float:left; width:25%">{{name}}</div> 
									   <div style="float:left; width:25%">${{price}}</div>
									   <div style="float:right; width:20%">Remaining</div> 
							</li>
							{{/each}}
							</ol>

							<form style="display:none" class="form-inline" id="editBillsForm" role="form" method="get" action="/updateBudget">
									<div class="form-group">
										<input style="width:140px" type="number" step=".01" class="form-control" id="budget" placeholder="Bills Budget" name="budget">
										<input style="display:none" type="text" id="category" name="category" class="form-control" value="bills">
										<button style="width:140px" type="submit" class="btn btn-success btn-block">Save</button>
									</div>
								</form>
							</li>
						  </div>
						  <div>
						  	<div class="badge badge-expense" id="utilities">Utilities</div>
						  	<div class="glyphicon glyphicon-pencil" id="editUtilities" style="float:right;"></div>
							<div class="badge badge-expense" id="utilities" style="float:right; width:25%;">Budgeted ${{budgets.utilities}}</div>
							<div class="badge badge-expense" id="utilities" style="float:right; width:25%;">Spent ${{totals.utilities}}</div>
						  </div>
						  <div>
							<ol reversed class="list-group" id="utilitiesList">
								<li class="list-group-item">
									&nbsp; <div style="float:left; width:25%">Date</div>
										   <div style="float:left; width:25%">Description</div> 
										   <div style="float:left; width:25%">Cost</div>
										   <div style="float:right; width:20%">Remaining</div> 
								</li>
							{{#each utilities}}
							<li class="list-group-item">
								&nbsp; <div style="float:left; width:25%">{{date}}</div>
									   <div style="float:left; width:25%">{{name}}</div> 
									   <div style="float:left; width:25%">${{price}}</div>
									   <div style="float:right; width:20%">Remaining</div> 
							</li>
							{{/each}}
							</ol>

							<form style="display:none" class="form-inline" id="editUtilitiesForm" role="form" method="get" action="/updateBudget">
									<div class="form-group">
										<input style="width:140px" type="number" step=".01" class="form-control" id="budget" placeholder="Utilities Budget" name="budget">
										<input style="display:none" type="text" id="category" name="category" class="form-control" value="utilities">
										<button style="width:140px" type="submit" class="btn btn-success btn-block">Save</button>
									</div>
								</form>
							</li>
						  </div>

						 <div>
						  	<div class="badge badge-expense" id="travel">Travel</div>
						  	<div class="glyphicon glyphicon-pencil" id="editTravel" style="float:right;"></div>
							<div class="badge badge-expense" id="travel" style="float:right; width:25%;">Budgeted ${{budgets.travel}}</div>
							<div class="badge badge-expense" id="travel" style="float:right; width:25%;">Spent ${{totals.travel}}</div>
						  </div>
						  <div>
							<ol reversed class="list-group" id="travelList">
								<li class="list-group-item">
									&nbsp; <div style="float:left; width:25%">Date</div>
										   <div style="float:left; width:25%">Description</div> 
										   <div style="float:left; width:25%">Cost</div>
										   <div style="float:right; width:20%">Remaining</div> 
								</li>
							{{#each travel}}
							<li class="list-group-item">
								&nbsp; <div style="float:left; width:25%">{{date}}</div>
									   <div style="float:left; width:25%">{{name}}</div> 
									   <div style="float:left; width:25%">${{price}}</div>
									   <div style="float:right; width:20%">Remaining</div> 
							</li>
							{{/each}}
							</ol>

							<form style="display:none" class="form-inline" id="editTravelForm" role="form" method="get" action="/updateBudget">
									<div class="form-group">
										<input style="width:140px" type="number" step=".01" class="form-control" id="budget" placeholder="Travel Budget" name="budget">
										<input style="display:none" type="text" id="category" name="category" class="form-control" value="travel">
										<button style="width:140px" type="submit" class="btn btn-success btn-block">Save</button>
									</div>
								</form>
							</li>
						  </div>

						  <div>
						  	<div class="badge badge-expense" id="education">Education</div>
						  	<div class="glyphicon glyphicon-pencil" id="editEducation" style="float:right;"></div>
							<div class="badge badge-expense" id="education" style="float:right; width:25%;">Budgeted ${{budgets.education}}</div>
							<div class="badge badge-expense" id="education" style="float:right; width:25%;">Spent ${{totals.education}}</div>
						  </div>
						  <div>
							<ol reversed class="list-group" id="educationList">
								<li class="list-group-item">
									&nbsp; <div style="float:left; width:25%">Date</div>
										   <div style="float:left; width:25%">Description</div> 
										   <div style="float:left; width:25%">Cost</div>
										   <div style="float:right; width:20%">Remaining</div> 
								</li>
							{{#each education}}
							<li class="list-group-item">
								&nbsp; <div style="float:left; width:25%">{{date}}</div>
									   <div style="float:left; width:25%">{{name}}</div> 
									   <div style="float:left; width:25%">${{price}}</div>
									   <div style="float:right; width:20%">Remaining</div> 
							</li>
							{{/each}}
							</ol>

							<form style="display:none" class="form-inline" id="editEducationForm" role="form" method="get" action="/updateBudget">
									<div class="form-group">
										<input style="width:140px" type="number" step=".01" class="form-control" id="budget" placeholder="Education Budget" name="budget">
										<input style="display:none" type="text" id="category" name="category" class="form-control" value="education">
										<button style="width:140px" type="submit" class="btn btn-success btn-block">Save</button>
									</div>
								</form>
							</li>
						  </div>

		
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- So page doesn't cut off before the footer menu -->
	<div class="generalpadding"></div>

	<!-- Footer menu -->
	<div class="col-xs-12 fullwidth bottom">
		<div class="btn-group btn-group-justified">
			<a href="overview" class="btn btn-default">
				<span class="glyphicon glyphicon-th-list"></span><br>
				Overview
			</a>
			<a href="expenses" class="btn btn-default active">
				<span class="glyphicon glyphicon-usd"></span><br>
				Expenses
			</a>
			
			<a href="wishlist" class="btn btn-default">
				<span class="glyphicon glyphicon-star"></span><br>
				Wishlist
			</a>
		</div>
	</div>

<script>src="/public/js/totals.js"</script>
</body>
</html>