<html>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<script>
/*
	var data = require("../data.json");
	console.log("data.food.length: " + data.food.length);
	var index;
	var foodTotal = 0;
	for (index = 0; index < data.food.length; ++index) {
    console.log(data.food[index].name + " " + data.food[index].price );
    foodTotal = foodTotal + data.food[index].price;
}

$(document).ready(function () {
        	
        	console.log("data.food.length: " + data.food.length);
            $("#foodTotal").text(data);
        });

	
	var json = require('../data.json');
	var data = JSON.parse('../data.json');
	console.log("data.food.length SUPER: " + data.food.length);
*/
</script>
<head>
	<link rel="stylesheet" href="css/boostrap.min.css">
	<link rel="stylesheet" href="css/override.css">

	<title>Budge-It!</title>
</head>
<body>

	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Budge-It!</a>
		</div>
	</nav>

	<!-- So page doesnt begin behind the navbar -->
	<div class="generalpadding"></div>

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3 class="center-text">Expenses</h3><br>

						<form class="form-inline" id="addExpenseForm" role="form" method="get" action="/add">
						  <div class="form-group">
						  	<input type="text" class="form-control" id="name" placeholder="Name" name="name">
						  </div>
						  <div class="form-group">
						    <input type="number" step=".01" class="form-control" id="price" placeholder="Price" name="price">
						  </div>
						  <select type="text" id="category" name="category" class="form-control">
							  <option>food</option>
							  <option>utilities</option>
							  <option>travel</option>
							  <option>luxury</option>
							  <option>bills</option>
						  </select>
						  <button type="submit" class="btn btn-success btn-lg btn-block">Add Expense</button>
						</form>
						
						<ul class="list-group">
							<li class="list-group-item active-title">
								<span class="badge badge-expense">$0 Left / $2000</span>
								<b>Food</b>
							</li>
							{{#each food}}
							<li class="list-group-item">
								&nbsp; {{name}} ${{price}} 
							</li>
							{{/each}}
							
							<li class="list-group-item active-title">
								<span class="badge badge-expense">$0 Left / $2000</span>
								<b>Bills</b>
							</li>
							{{#each bills}}
							<li class="list-group-item">
								&nbsp; {{name}} ${{price}} 
							</li>
							{{/each}}

							<li class="list-group-item active-title">
								<span class="badge badge-expense">$0 Left / $2000</span>
								<b>Utilities</b>
							</li>
							{{#each utilities}}
							<li class="list-group-item">
								&nbsp; {{name}} ${{price}} 
							</li>
							{{/each}}

							<li class="list-group-item active-title">
								<span class="badge badge-expense">$20 Left / $2000</span>
								<b>Travel</b>
							</li>
							{{#each travel}}
							<li class="list-group-item">
								&nbsp; {{name}} ${{price}} 
							</li>
							{{/each}}
							
							<li class="list-group-item active-title">
								<span class="badge badge-expense">$0 Left / $2000</span>
								<b>Luxury</b>
							</li>
							{{#each luxury}}
							<li class="list-group-item">
								&nbsp; {{name}} ${{price}} 
							</li>
							{{/each}}

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- So page doesn't cut off before the footer menu -->
	<div class="generalpadding"></div>

	<!-- Footer menu -->
	<div class="col-xs-12 fullwidth bottom">
		<div class="btn-group btn-group-justified">
			<a href="overview" class="btn btn-default">
				<span class="glyphicon glyphicon-th-list"></span><br>
				Overview
			</a>
			<a href="expenses" class="btn btn-default active">
				<span class="glyphicon glyphicon-usd"></span><br>
				Expenses
			</a>
			
			<a href="wishlist" class="btn btn-default">
				<span class="glyphicon glyphicon-star"></span><br>
				Wishlist
			</a>
		</div>
	</div>

<script>src="/public/js/totals.js"</script>
</body>
</html>