<html>
<head>
	<link rel="stylesheet" href="css/boostrap.min.css">
	<link rel="stylesheet" href="css/override.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $("#editBalance").click(function(){
	        $("#editBalanceForm").show();
	    });

	    
	});
	</script>

	<title>Budge-It!</title>
</head>
<body>

	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Budge-It!</a>
		</div>
	</nav>

	<!-- So page doesnt begin behind the navbar -->
	<div class="generalpadding"></div>

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3 class="center-text">Overview</h3><br>
						<img class="img-responsive center-block" src="img/piechart.png"/>
					</div>
				</div>
				<ul class="list-group">
					<li class="list-group-item">

					<b>Account Balance</b>
								<span class="glyphicon glyphicon-pencil" id="editBalance" style="float:right;"></span>
								<span class="badge active-green-badge" id="balance">${{bank.balance}}</span>

								<form style="display:none" class="form-inline" id="editBalanceForm" role="form" method="get" action="/updateBalance">
									<div class="form-group">
										<input style="width:140px" type="number" step=".01" class="form-control" id="balance" placeholder="Account Balance" name="balance">
										
										<button style="width:140px" type="submit" class="btn btn-success btn-block">Save</button>
									</div>
								</form>



					</li>
					<li class="list-group-item">
						<span class="badge badge-expense">- ${{totals.food}}</span>
						Food
					</li>
					<li class="list-group-item">
						<span class="badge badge-expense">- ${{totals.bills}}</span>
						Bills
					</li>
					<li class="list-group-item">
						<span class="badge badge-expense">- ${{totals.travel}}</span>
						Travel
					</li>
					<li class="list-group-item">
						<span class="badge badge-expense">- ${{totals.luxury}}</span>
						Luxury
					</li>
					<li class="list-group-item active-green">
						<span class="badge active-green-badge">${{bank.remaining}}</span>
						<b>Budget remaining</b>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<!-- So page doesn't cut off before the footer menu -->
	<div class="generalpadding"></div>

	<!-- Footer menu -->
	<div class="col-xs-12 fullwidth bottom">
		<div class="btn-group btn-group-justified">
			<a href="overview" class="btn btn-default active">
				<span class="glyphicon glyphicon-th-list"></span><br>
				Overview
			</a>
			<a href="expenses" class="btn btn-default">
				<span class="glyphicon glyphicon-usd"></span><br>
				Expenses
			</a>
			
			<a href="wishlist" class="btn btn-default">
				<span class="glyphicon glyphicon-star"></span><br>
				Wishlist
			</a>
		</div>
	</div>

</body>
</html>