<html>
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="css/boostrap.min.css">
	<link rel="stylesheet" href="css/override.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
	

	  $( function() {
    $( "#editBalanceDialog" ).dialog({
      autoOpen: false,
      show: {effect: "scale", duration: 1000},
      hide: {effect: "explode", duration: 1000}
    });
 
    $( "#editBalance" ).on( "click", function() {
      $( "#editBalanceDialog" ).dialog( "open" );

    });
  } );
	</script>

	<title>Budge-It!</title>
</head>
<body>

	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<img src="img/logo.png" height="30px"/>
			<span style="color:white; float:right; font-weight:bold;">Points: {{points.total}}</span>
		</div>
	</nav>

	<!-- So page doesnt begin behind the navbar -->
	<div class="generalpadding"></div>

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3 class="center-text">Overview</h3><br>

						<div class="progress">
							{{#each category1}}
						  <div class="progress-bar progress-bar-primary" style="width: {{ percentage }}%"></div>
							{{/each}}
							{{#each category2}}
						  <div class="progress-bar progress-bar-success" style="width: {{ percentage }}%"></div>
							{{/each}}
							{{#each category3}}
						  <div class="progress-bar progress-bar-warning" style="width: {{ percentage }}%"></div>
							{{/each}}
							{{#each category4}}
						  <div class="progress-bar progress-bar-danger" style="width: {{ percentage }}%"></div>
							{{/each}}
							{{#each category5}}
						  <div class="progress-bar progress-bar-info" style="width: {{ percentage }}%"></div>
							{{/each}}
						</div>

						<table class="table table-bordered">
							<thead>
								<tr>
									<td colspan="5" align="center">Total Expenses</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td width="20%" align="center">
										<span class="category-title text-primary">Food</span><br>
										{{#each category1}}
											<span class="category-expense">${{total}}</span>
										{{/each}}
									</td>
									<td width="20%" align="center">
										<span class="category-title text-success">Utilities</span><br>
										{{#each category2}}
											<span class="category-expense">${{total}}</span>
										{{/each}}
									</td>
									<td width="20%" align="center">
										<span class="category-title text-warning">Bills</span><br>
										{{#each category3}}
											<span class="category-expense">${{total}}</span>
										{{/each}}
									</td>
									<td width="20%" align="center">
										<span class="category-title text-danger">Travel</span><br>
										{{#each category4}}
											<span class="category-expense">${{total}}</span>
										{{/each}}
									</td>
									<td width="20%" align="center">
										<span class="category-title text-info">Education</span><br>
										{{#each category5}}
											<span class="category-expense">${{total}}</span>
										{{/each}}
									</td>
								</tr>
								<tr>
									<td colspan="5" align="center" height="100px">

										<span class="total-budget-left">${{bank.deficitSurplus}}</span><br>
										Deficit/Surplus</td>
								</tr>
								<tr>
									<td colspan="5" align="center" height="100px">
										<span class="glyphicon glyphicon-pencil" id="editBalance" style="float:right;"></span>
										<span class="total-budget-left">${{bank.balance}}</span><br>
										Account Balance</td>
								</tr>
							</tbody>
						</table>
						<div id="editBalanceDialog" title="Edit Balance">
						<form class="form-inline" id="editBalanceForm" role="form" method="get" action="/calculateTotals">
									<div class="form-group">
										<input style="width:140px" type="number" step=".01" class="form-control" id="balance" placeholder="Account Balance" name="balance">
										
										<button style="width:140px" type="submit" class="btn btn-success btn-block">Save</button>
									</div>
								</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- So page doesn't cut off before the footer menu -->
	<div class="generalpadding"></div>

	<!-- Footer menu -->
	<div class="col-xs-12 fullwidth bottom">
		<div class="btn-group btn-group-justified">
			<a href="overview" class="btn btn-default active">
				<span class="glyphicon glyphicon-th-list"></span><br>
				Overview
			</a>
			<a href="expenses" class="btn btn-default">
				<span class="glyphicon glyphicon-usd"></span><br>
				Expenses
			</a>

			<a href="wishlist" class="btn btn-default">
				<span class="glyphicon glyphicon-star"></span><br>
				Wishlist
			</a>
		</div>
	</div>

	<!-- <script type="text/javascript" src="js/overview.js"></script> -->
</body>
</html>
